.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  background-color: #59ace8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 250px;
  height: auto;
  margin-right: 20px;
}

.nav-buttons {
  display: flex;
  gap: 20px;
}

.nav-buttons button {
  background-color: #c5f0fe;
  border: none;
  color: black;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
  transition: transform 0.2s;
}

.nav-buttons button:hover {
  background-color: rgb(40, 144, 255);
  color: white;
  transform: scale(1.07);
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: 0.4s;
}

.nav-buttons.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 75px;
  right: 20px;
  width: 240px;
  background-color: #59ace8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 20px;
  padding: 10px;
}

.nav-buttons.active button {
  margin: 1px 0;
  width: 100%; 
  border-radius: 20px;
}

.nav-buttons.active button:hover {
  background-color: rgb(40, 144, 255);
}

.bar.open:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
  .nav-buttons {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
