.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  height: auto;
  background-color: #59ACE8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.nav-buttons {
  display: flex;
  gap: 20px;
}

.nav-buttons button {
  background-color: #C5F0FE;
  border: none;
  color: black;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
  transition: transform 0.2s;
}

.nav-buttons button:hover {
  background-color: rgb(40, 144, 255);
  color: white;
  transform: scale(1.07);
  transition: transform 0.2s;
}

.profile-notifications {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notifications-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-name{
  font-size: 20px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-hamburger {
  display: none;
  flex-direction: column;
  gap: 0.30rem;
  cursor: pointer;
}

.navbar-hamburger .bar {
  width: 35px;
  height: 6px;
  background-color: white;

}

@media (max-width: 768px) {
  .nav-buttons {
      display: none;
      flex-direction: column;
      gap: 0.8rem;
      position: absolute;
      top: 100px;
      left: 20px;
      background-color: #59ACE8;
      width: 80%;
      padding: 1rem;
      z-index: 2000;
      border-radius: 40px;
  }

  .nav-buttons.open {
      display: flex;
  }

  .navbar-hamburger {
      display: flex;
  }

  .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  
.profile-name{
  font-size: 25px;
}
}
