.post-info {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    margin: 40px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
  }
  
  .post-info h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .post-info p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .post-buttons {
    display: flex;
    gap: 13px;
  }
  
  .post-buttons button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
  }
  
  .post-buttons button:hover {
    background-color: #f0f0f0;
    transform: scale(1.07);
    transition: transform 0.2s;
  }
  
  .comment-in {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 40px;
    border: none;
    width: 700px;
  }
  
  .submit{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
  }

  .image-container {
    margin: auto;
    width: 65%; /* take up the full width of the .post container */
    padding-bottom: 40%; /* this sets the aspect ratio (height / width * 100%) */
    position: relative; /* this allows the .post-image to be positioned relative to this container */
}

.post-image {
    width: 100%;
    height: 100%;
    position: absolute; /* this positions the image at the top-left corner of the .image-container */
    object-fit: cover; /* this makes the image cover the entire area of the .image-container, cutting off any parts that don't fit */
}