.comment {
    padding: 20px;
    background-color: #ffffff;
    margin: 40px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
}

.comment h3 {
    margin: 0 0 10px;
}

.comment p {
    margin: 5px 0;
}

.comment .edited {
    font-style: italic;
    color: #888;
}

.edit-link,
.delete-link,
.reply-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
}

.reply-section {
    margin-top: 10px;
}

.reply-section button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    margin: 0.5%;
}

.reply-section input {
    background-color: #f0f0f0;
}

#user-name {
    font-weight: bold;
}

#publication-date {
    font-size: 12px;
    color: #888;
}

#comment-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}