.post-buttons {
    display: flex;
    justify-content: start;
    margin-top: 5px;
    padding: 0;
  }
  
  .comment-in {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9; 
    border-radius: 10px;  
    border: 1px solid #ccc;   
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;        
    transition: background-color 0.3s ease;
  }
  
  .comment-in:focus {
    background-color: #fff;   
    border-color: #007bff; 
    outline: none;       
  }
  
  .container {
    display: flex;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .like-svg,
  .dislike-svg {
    margin: 0;
    height: 30px;
    width: 30px;
    transition: all 0.3s;
    fill: #666;
  }
  
  .like-svg:hover,
  .dislike-svg:hover {
    transform: scale(1.1) rotate(-10deg);
  }
  
  .container input {
    display: none;
  }
  
  .container input:checked + .like-svg {
    fill: rgb(84, 142, 248);
  }
  
  .container input:checked + .dislike-svg {
    fill: rgb(185, 51, 51);
  }
  