.container {
  display: flex;
}

.sidebar {
  width: 300px;
  background-color: #D7F0FF;
  margin-top: 40px;
  margin-left: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  height: 350px;
  transition: transform 0.3s ease;
}

.sidebar.visible {
  transform: translateX(0);
}

.sidebar.hidden {
  transform: translateX(-100%);
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    z-index: 10;
    height: 100%;
    transform: translateX(-100%);
  }

  .sidebar.visible {
    transform: translateX(0);
  }

  .posts {
    margin-left: 0;
  }

  .sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 20;
    background-color: #D7F0FF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
}

.posts {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  margin: 40px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
}

.post {
  margin-bottom: 20px;
}

.post h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.post p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
}

.post-buttons {
  display: flex;
  gap: 13px;
}

.post-buttons button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
}

.post-buttons button:hover {
  background-color: #f0f0f0;
  transform: scale(1.07);
  transition: transform 0.2s;
}

.comment-in {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 40px;
  border: none;
  width: 700px;
}

.submit {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
}
